<div class="global_box_competence">
  <!-- sub title -->
  <h2>Compétences</h2>
  <div class="containe_competence">
    <div *ngIf="!connected">
      <!-- box competence boucle -->
      <div
        *ngFor="let item of competences; let index = index"
        class="box_competence cbglayoutd"
      >
        <!-- competence -->
        <div class="block_competence">
          <h3>{{ item.title }}</h3>
          <div class="competence">
            <div class="box_img">
              <img src="../../../assets/img/angular-seeklogo.com_.svg" />
              <img src="../../../assets/img/vuejs.svg" />
              <img src="../../../assets/img/vuejs.svg" />
            </div>
            <p>
              {{ item.text }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- see if user is connected for update competence -->
    <div *ngIf="connected">
      <div
        *ngFor="let item of competences; let index = index"
        class="box_competence cbglayoutd"
      >
        <!-- competence -->
        <div class="block_competence">
          <h3>{{ item.title }}</h3>
          <div class="competence">
            <div class="box_img">
              <img src="../../../assets/img/angular-seeklogo.com_.svg" />
              <img src="../../../assets/img/vuejs.svg" />
              <img src="../../../assets/img/vuejs.svg" />
            </div>
            <p>
              {{ item.text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
